In [1]:
import pandas as pd

In [ ]:
# 각 파일을 개별적으로 불러옴
df = pd.read_csv("data/merged_filtered_output.csv", encoding='utf-8-sig')

In [3]:
df.head()

,기준년도,가입자일련번호,처방내역일련번호,약품일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드(ATC코드),1회투약량,1일투약량,총투여일수
0,2022,580791,5550863,1,2,13,41,2022-12-02,M01AE,1.0,3,3
1,2022,358200,10485180,1,2,13,41,2022-05-18,M01AE,1.0,3,3
2,2022,378406,11535208,1,2,13,41,2022-01-24,M01AE,1.0,3,3
3,2022,442973,12305408,1,2,13,41,2022-05-06,M01AE,1.0,3,3
4,2022,500568,1737705,1,2,13,41,2022-12-19,M01AE,1.0,3,3

In [ ]:
df = df[['처방내역일련번호', '약품일반성분명코드(ATC코드)']]

   처방내역일련번호 약품일반성분명코드(ATC코드)
0   5550863            M01AE
1  10485180            M01AE
2  11535208            M01AE
3  12305408            M01AE
4   1737705            M01AE

In [7]:
df = df.groupby('처방내역일련번호')['약품일반성분명코드(ATC코드)'].apply(list).reset_index()

In [13]:
df.head()

      약품일반성분명코드(ATC코드)
0              [D07AC]
1       [M01AE, R05CA]
2              [M01AE]
3        [M01AE, J01D]
4  [S, D06AX09, D07AC]

In [23]:
#'처방내역일련번호' 열 제거거
df = df.drop(columns=['번호'])

In [25]:
df = df.sample(n=200000, random_state=42).reset_index(drop=True)

In [26]:
df.insert(0, '번호', range(1, len(df) + 1))

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   번호                200000 non-null  int64
 1   약품일반성분명코드(ATC코드)  200000 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.1+ MB

In [ ]:
# 병합된 결과 저장
df.to_csv("data/refined_data.csv", index=False, encoding='utf-8-sig')